#nails {
	margin-top: 10px;
	margin-left: 0;
}

#newsletter {
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
}

#myCarousel {
	width:100%;
}

#party {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	height: 268px;

	background-image: url(../images/partybanner.jpg);
	background-size: 100%;
	margin: 10px 0;
}

#promo {
	text-align: center;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;	
	margin:0;
	margin-bottom: 10px;
	padding-left: 10px;
	position: relative;
	padding-bottom: 36.25%;
	padding-top: 10px;
	height:0;
	overflow: hidden;
/*	min-height: 180px;*/
}

#promo iframe,  
#promo object,  
#promo embed {
	padding: 0 15px 15px 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 97%;
	height: 95%;
}