* {
	font-family: "Open Sans";
/*	font-family: "Oxygen";*/
	letter-spacing: 1.5px;
;
}

body {
	background: black;
}

a {
	color: #eee;
}

a:hover {
	color: #eee;
	/*background-color: #eee;*/
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #888;
}

p {
	color: #555;
}

hr {
	margin: 10px 0;
}

input[type="text"]:focus {
	border-color: rgb(255,255,255);
}

.breadcrumb {
	background-color: #000;
	color: #ccc;
}

.subscribe {
	border: 1px solid #f6f6f6; 
	border-radius:0; 
	margin:0; 
	background:none;
	text-transform: uppercase;
	font-weight: bold;
}

#logo {
	min-width: 100%;
}

#nav {
	margin:0;
	padding-top: 0;
	padding-bottom: 20px;
	font-size: 8pt;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-box-border-radius: 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 5px;
}

div.clear {
	clear: both;
}